<!DOCTYPE html>
<html>

<head>
    <title>User-Signup</title>
    <style type="text/css">
        .error {
            color: red;
        }
        form {
            margin: auto;
            padding: 10px;
        }
        label span {
          display: inline-block;
          width: 120px;
          text-align: right;
        }
        #submit {
            padding: 10px;
            margin-left: 120px;
        }
    </style>
</head>

<body>
    <h1>
        <a href="/">User-Signup</a>
    </h1>
        <form action="/" method="post">
            <p>
                <label for="name">
                    <span>Name: </span>
                </label>
                <input type="text" id="name" name="username">
            </p>
            <p>
                <label for="password">
                    <span>Password: </span>
                </label>
                <input type="password" id="pwd" name="password">
            </p>
            <p>
                <label for="password_confirm">
                    <span>Password (Confirm): </span>
                </label>
                <input type="password" id="pwd" name="password">
            </p>
            <p>
                <label for="mail">
                    <span>E-mail: </span>
                </label>
                <input type="email" id="mail" name="email">
            </p>
        <div id="submit">
            <input type="submit" value="Submit" />
        </div>
        </form>
        

</body>

</html>